################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Boticario-API/bin/Debug/netcoreapp2.2
/.vs/Boticario.Api/v16/Server/sqlite3
/Boticario-API/obj
